AUTHORIZATION_URL=http://stage-authed.cuenca.com/authorize
AWS_ACCESS_KEY_ID=xxx
AWS_SECRET_ACCESS_KEY=yyy
AWS_DEFAULT_REGION=us-east-2
DATABASE_URI=mongomock://localhost:27017/db
SENTRY_DSN=https://111@sentry.io/111
SECRETS_CONFIG=some_secret
